<?xml version="1.0" encoding="utf-8"?>
<items><item><address><value>
                                
                                    
                                    
                                        42 Oxberry Avenue London SW6 5SS
                                    
                                
                            </value></address><proposal><value>
                                
                                    
                                    
                                        Erection of bicycle store in the front garden, incorporating a new front boundary wall.
                                    
                                
                            </value></proposal><decision><value>
                                
                                    
                                    
                                        Application Approved
                                    
                                
                            </value></decision></item><item><constraints><value>Adjacent To Conservation Area (50m)</value><value>Adjacent To Historic Park Or Garden (200m)</value><value>South</value><value>Flood Zone 3 Low Residual Risk</value><value>Buildings Structures And Works Exceeding 150 Metres</value><value>Archaeological Priority Area</value><value>Environment Agency Flood Risk Zone 2</value><value>Controlled Parking Zone U</value><value>Environment Agency Flood Risk Zone 3</value><value>London Distributor Roads</value></constraints></item></items>